{% extends 'base.html.twig' %}
{% block title %} Mes recettes

{% endblock %}

{% block body %}

<div class="container mt-4">
<h1> Mes recettes </h1>

{% for message in app.flashes('success')%}
<div class="alert alert-success mt-4">
{{message}}
</div>
{% endfor %}

<a href="{{path('create')}}" class="btn btn-primary">
 Créer une recette
</a>

<div class="count mt-4">
 <small>  Il y'a  {{ recettes.getTotalItemCount }} recettes en total</small>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Numéro</th>
      <th scope="col">Nom</th>
      <th scope="col">Prix</th>
     <th scope="col">Difficulté</th>
      <th scope="col">Date Création</th>
      <th scope="col">Actions</th>

    </tr>
  </thead>
  <tbody>
    {% for recette in recettes %}
    <tr class="table-active">
      <th scope="row">{{recette.id}}</th>
      <td>{{recette.name}}</td>
      <td>
      {% if recette.price is null %}
      Non renseigné
      {% else %}
      {{recette.price}}
      {% endif %}
      </td>  
      <td>
      {% if recette.difficulte is null %}
      Non renseigné
      {% else %}
      {{recette.difficulte}}
      {% endif %}
      </td>
      <td>{{recette.createdAt|date('d/m/Y')}}</td>
      <td>
      <a class="btn btn-info" href="{{path('update',{'id': recette.id})}}">Modifier</a>
      <a class="btn btn-warning" href="{{path('delete',{'id': recette.id})}}">Delete</a>
      </td>
    </tr>
    {% endfor %}
  
  </tbody>
</table>
<div class="navigation d-flex justify-content-center mt-4">
    {{ knp_pagination_render(recettes) }}
</div>

</div>
{% endblock %}























