{% extends 'base.html.twig' %}


{% block body %}

<div class="container">

<h1 class="mt-4"> Modification d'une recette </h1>

{{form_start(form)}}


<div class="form-group">
{{form_label(form.name)}}
{{form_widget(form.name,{'attr':{'class':'form-control'}})}}

</div>

<div class="form-group">
{{form_label(form.time)}}
{{form_widget(form.time,{'attr':{'class':'form-control'}})}}
</div>


<div class="form-group">
{{form_label(form.nbrpersonne)}}
{{form_widget(form.nbrpersonne,{'attr':{'class':'form-control'}})}}

</div>

<div class="form-group">
{{form_label(form.difficulte)}}
{{form_widget(form.difficulte)}}

</div>

<div class="form-group">
{{form_label(form.description)}}
{{form_widget(form.description,{'attr':{'class':'form-control'}})}}

</div>


<div class="form-group">
{{form_label(form.price)}}
{{form_widget(form.price,{'attr':{'class':'form-control'}})}}

</div>

<div class="form-check mt-4">
{{form_widget(form.isFavorite)}}
{{form_label(form.isFavorite)}}

</div>


{{form_widget(form)}}
<button class="btn btn-primary">{{button_label|default('Modifier une recette')}}</button>
{{form_end(form)}}
</div>
</div>
</div>

{% endblock %}


